<%= link_to "Back to Deals", root_path %>
<h1>Editing <%= @deal.name %></h1>
<%= simple_form_for @deal do |f| %>
  <%= f.simple_fields_for @deal.deal_data do |dd| %>
    <%= dd.input :start_date, :as => :date %>
    <%= dd.input :end_date, :as => :date %>
    <%= dd.input :probability, :label => "Win Probability" %>
    <%= dd.input :average_rate %>
  <% end %>
  <%= f.button :submit %>
  <%= link_to "Cancel", @deal%>
<% end %>