<!DOCTYPE html>
<html>
<head>
  <title>CornerOffice</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<% flash.each do |key, value| %>
  <% if [:error, :notice, :alert].include?(key) && value.present? %>
    <div class="alert <%= key %>">
      <%= value %>
    </div>
  <% end %>
<% end %>

<%- if logged_in? -%>
  <%= link_to "Log Out", session_path, :method => :delete %>
<%- end -%>

<%= yield %>

</body>
</html>
